<!--<ng-container *ngIf="gameState">-->
<!--&lt;!&ndash;  <app-players [playerNames]="gameState.playerNames"></app-players>&ndash;&gt;-->
<!--  <app-card-pyramid *ngIf="gameState" [deck]="gameState.pyramid"></app-card-pyramid>-->
<!--&lt;!&ndash;  <app-player-hand [player]="player"></app-player-hand>&ndash;&gt;-->
<!--</ng-container>-->

<!--<button *ngIf="!gameState" mat-raised-button color="accent" (click)="startGame()">Start</button>-->
<!--<button *ngIf="gameState" mat-raised-button color="accent" (click)="startGame()">Finish</button>-->



